# Default ignored files
/workspace.xml

# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/ZeppelinRemoteNotebooks/
demos/src/main/java/HighConcurrency/
demos/src/main/resources/
demos/src/test/
demos/target/
spring_demo/src/main/java/com/imooc/dao/
spring_demo/src/test/
spring_demo/target/
spring_framework/src/main/resources/
spring_framework/src/test/
spring_framework/target/